venv/
docs/
__pycache__/
*.json
*.pyc
*.npy
*.faiss
chunks*.json
*.bm25
.pytest_cache
pytest.ini
*.pkl

test_*.py
measure.py
measure_*.py
classify.py
ZMIANY.md
trudne.jsonl
diag_*.py

test_HF.py
*.md
!README.md

Python.code-workspace
.env
outputs/